@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
body{
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.2px;
  background: white;
}

@theme {
  --font-display: "Inter", sans-serif;
}

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
    padding: 0 15px;
  }
  

@theme {
  
    /* Breakpoint */
    --breakpoint-*: initial;
  --breakpoint-sm: 640px; 
  --breakpoint-md: 768px; 
  --breakpoint-lg: 1024px; 
  --breakpoint-xl: 1170px; 

  --color-secondary-color-1: #00A0C1;
  
   
 }

 .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.125rem; /* h-0.5 */
  background-color: #6366f1; /* bg-indigo-500 */
  transform-origin: left; /* origin-left */
  transform: scaleX(0); /* scale-x-0 */
  transition: transform 300ms ease-out; /* transition-transform duration-300 ease-out */
}

.nav-link:hover::after,
.nav-link.active::after {
  transform: scaleX(1); /* scale-x-100 */
}
.slick-dots .slick-active .custom-dot {
  background-color: #52bbe8 !important; 
opacity:1;
}

/* Coustom css */
#banner .slick-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

}
#banner .slick-dots li button {
  background: red;
  width: 10px;
  height: 10px;
  background:rgba(255, 255, 255, 0.5) ;
  border-radius: 50%;
  border: 2px solid transparent;
  font-size: 0;
  padding: 0;
  margin: 0;
}
#banner .slick-dots li.slick-active button {
  background: #DB4444;
  border: 2px solid #ffffff;
}
#banner .slick-dots li button::before {
  display: none;
} 